body {
  margin: 0;
  user-select: none;
  width: 100vw;
}

h1, h2, h3, h4 {
  margin: 0;
}

#columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#columns > div {
  /* background-color: burlywood; */
  flex-grow: 1;
  margin: 10px;
}

div#main-column {
  display: flex;
  flex-basis: 500px;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

#field-wrapper {
  overflow-x: auto;
  width: 100%;
}

table#field {
  margin: auto;
}

table, th, td {
  border-color: #333;
  border-style: solid;
  border-width: 2px;
}

table {
  border-bottom-width: 0;
  border-right-width: 0;
  border-spacing: 0;
  table-layout: fixed;
}

tr {
  width: fit-content;
}

th, td {
  border-left-width: 0;
  border-top-width: 0;
  box-sizing: content-box;
  height: 30px;
  min-width: 30px;
  padding: 0;
  text-align: center;
}

#field td .letter {
  border: none;
}

.letter {
  align-items: center;
  background-color: lightgreen;
  border-color: black;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  height: 30px;
  justify-content: center;
  line-height: 0;
  width: 30px;
}

.deck {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  justify-content: center;
  width: 100%;
}

.deck .letter-drop-place {
  /* background-color: aqua; */
  width: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.deck .letter-drop-place {
  border-color: transparent;
  border-style: dotted;
  border-width: 3px;
}

.deck .letter-drop-place.mark-droppable {
  border-color: gray;
}

.deck .letter-drop-place:first-child, .deck .letter-drop-place:last-child {
  flex-grow: 1;
  flex-shrink: 0;
}

.letter#letter-picked {
  background-color: red;
}

input, input::placeholder {
  text-align: center;
}

#small-center-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
  max-width: 50%;
}

.letter.inactive {
  background-color: lightgrey;
  /* opacity: 50%; */
  /* filter: grayscale(50%); */
}

table#scoreboard th, table#scoreboard td {
  padding-left: 5px;
  padding-right: 5px;
}
